@model dynamic
@{
    ViewBag.Title = "Home";
}
@Html.Partial("_Chat")

<div id="chatContainer" class="row">
    <div id="disMess"></div>
    <div class="span2">&nbsp;</div>
    <div id="userList" class="span3">Onlne users:
        <div id="users"></div>
    </div>

</div>