@model dynamic

@Html.Partial("_ChatJavascript")
<script type="text/javascript">
    $.connection.chat.addMessage = function (message) {
        if (message !== '') {
            $("#disMess").children("div:gt(40)").remove();
            $('#disMess').prepend('<div class="row chatMessage"><div class="user">' + message.User + '</div><div class="time">' + message.Time + '</div><div class="message">' + message.Message + '</div></div>');
        }
    };
</script>
<h3>Chat</h3>
<input type="text" id="txtMess" style="width: 300px; height: 40px;"/>
<input type="button" id="btnSend" value="Send" />

